.App {
  text-align: left;
}

.organization-page-main-container {
  background-color: #2d2d2d;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 175px 1fr;
  grid-gap: 1em;
  font-size: calc(10px + 2vmin);
  color: #c5c5c5;
  padding-top: 2em;
  padding-left: 2em;
}

.create-organization-container {
  text-align: left;
  border-bottom: 1px solid #565656;
}

.organization-container {
  text-align: left;
}

.company-list {
  float: right;
  font-size: 0.9em;
}

.section-title {
  font-size: 1em;
  text-transform: uppercase;
}

.organization-name {
  font-size: 0.9em;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none

}


.company-list-item {
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}


/* FORM */
.update-organization-form,
.create-organization-form {
  border: 1px solid #565656;
  margin-top: 1.2em;

}

.update-organization-form input,
.create-organization-form input {
  width: 60%;
  height: 2em;
  margin: 1.2em 0;
  margin-left:0.75em;

}


.update-organization-btn,
.create-organization-btn,
.submit-create-organization-btn {
  text-align: center;
  padding: 0.5em;
  background-color: #474747;
  color: #c5c5c5;
  border: 1px solid #565656;
  font-size: 0.5em;
  border-radius: 4px;
  float: right;
  margin-right: 5px;
}

.update-organization-btn,
.submit-create-organization-btn {
  margin-top: 9px;
}